<a href="https://colab.research.google.com/github/danielgrgurevic/PortafolioDataScience/blob/main/Proyecto_predicci%C3%B3n_de_abandono_clientes_bancarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto de Predicción de Abandono Bancario**

## Metodología
1. Entendimiento del problema
1. Enfoque analítico
1. Colleción de datos
1. Entendimiento de los datos: EDA Análisis exploratorio de datos
1. Preparación de los datos: Disputa de datos y limpieza
1. Modelado
1. Evaluación
1. Deployment (Implementación)

## Colección de los datos

Mounted at /content/gdrive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR']='/content/gdrive/MyDrive/Descargas kaggle'

In [4]:
%cd /content/gdrive/MyDrive/Descargas kaggle

/content/gdrive/MyDrive/Descargas kaggle

In [5]:
!ls

kaggle.json  Train_fruits  Train_life_expectancy

In [8]:
!kaggle datasets download -d santoshd3/bank-customers

Downloading bank-customers.zip to /content/gdrive/MyDrive/Descargas kaggle
  0% 0.00/262k [00:00<?, ?B/s]
100% 262k/262k [00:00<00:00, 13.3MB/s]

In [9]:
!mkdir Churn_Prediction
!mv bank-customers.zip Churn_Prediction

In [11]:
%cd /content/gdrive/MyDrive/Descargas kaggle/Churn_Prediction

/content/gdrive/MyDrive/Descargas kaggle/Churn_Prediction

In [12]:
!unzip bank-customers.zip

Archive:  bank-customers.zip
  inflating: Churn Modeling.csv

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split , GridSearchCV, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

### Leer DataSet y obtener información

In [16]:
df=pd.read_csv('/content/gdrive/MyDrive/Descargas kaggle/Churn_Prediction/Churn Modeling.csv')

In [17]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Análisis Exploratorio de los Datos

In [18]:
df.shape

(10000, 14)

In [19]:
df.duplicated().sum()

0

Debido a que con df.duplicated().sum() dió 0, quiere decir que no hya filas duplicadas

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB